<!--<script type="text/javascript" src="../../../public/javascripts/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../../../public/javascripts/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../public/javascripts/bower_components/metisMenu/dist/metisMenu.min.js"></script>
<script type="text/javascript" src="../../../public/javascripts/dist/js/sb-admin-2.js"></script>-->


<link href="../../../public/javascripts/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- MetisMenu CSS -->
<link href="../../../public/javascripts/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

<!-- DataTables CSS -->
<link href="../../public/javascripts/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">

<!-- DataTables Responsive CSS -->
<link href="../../public/javascripts/bower_components/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="../../public/javascripts/dist/css/sb-admin-2.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="../../public/javascripts/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<link rel="stylesheet" type="text/css" href="../../../public/stylesheets/modal.css">


<script src="../../public/javascripts/bower_components/jquery/dist/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../../public/javascripts/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="../../public/javascripts/bower_components/metisMenu/dist/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="../../public/javascripts/dist/js/sb-admin-2.js"></script>
<!-- InstanceBeginEditable name="JSRegion" -->
<script src="../../public/javascripts/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="../../public/javascripts/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
<title>TukTuk - <%=header%></title>







