<a id ="ancherClick" href="#openModal"></a>
<a id ="close" href="#close"></a>
<div id="openModal" class ="modalDialog">
    <div style="text-align: center;">
        <a href="#close" title="Close" class="close">X</a>
        <h2> Just a moment...</h2>
        <p> We're processing your request</p>
        <img src="../../../public/images/loader.gif" />
    </div>
</div>